
{% extends "layout.html" %}

{% block content %}

  <!-- Page Title -->
  <div class="page-title dark-background">
    <div class="container d-lg-flex justify-content-between align-items-center">
      <h1 class="mb-2 mb-lg-0">NeuralNet</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="\">Home</a></li>
          <li class="current">NeuralNet</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->

  <!-- Portfolio Details Section -->

   <div class="container section-title" data-aos="fade-up">
      <h2>Global ensemble model  </h2>
      <p> Surface is created by averaging 5 best models <b> Please, drag and play with the surface! </b> </p>
       <iframe
        src="static/assets/html/mean_surface_no_data_web.html"
        width="100%" height="600"
        style="border:none">
      </iframe>
    </div><!-- End Section Title -->



     <div class="container section-title" data-aos="fade-up">
      <h2>Regional model: Europe</h2>
       <iframe
        src="static/assets/html/Europe_web.html"
        width="100%" height="600"
        style="border:none">
      </iframe>

    </div><!-- End Section Title -->

<div class="container section-title" data-aos="fade-up">
      <h2>Regional model: Africa</h2>
       <iframe
        src="static/assets/html/Africa_web.html"
        width="100%" height="600"
        style="border:none">
      </iframe>

    </div><!-- End Section Title -->

    <div class="container section-title" data-aos="fade-up">
      <h2>Regional model: Asia</h2>
       <iframe
        src="static/assets/html/Asia_web.html"
        width="100%" height="600"
        style="border:none">
      </iframe>

    </div><!-- End Section Title -->

    <div class="container section-title" data-aos="fade-up">
      <h2>Regional model: Oceania</h2>
       <iframe
        src="static/assets/html/Oceania_web.html"
        width="100%" height="600"
        style="border:none">
      </iframe>

    </div><!-- End Section Title -->

    <div class="container section-title" data-aos="fade-up">
      <h2>Regional model: Americas</h2>
       <iframe
        src="static/assets/html/Americas_web.html"
        width="100%" height="600"
        style="border:none">
      </iframe>

    </div><!-- End Section Title -->


{% endblock %}

 

 